* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 1440px;
    overflow: scroll;
    max-width: 100%;
    user-select: none;
}

.backArrow {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 110px;
    bottom: 125px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgb(31 35 41 / 10%);
    animation: arrowMove 2s infinite;
    z-index: 2;
}

.backArrow img {
    width: 30px;

}

.mislabVideoWrap {
    position: relative;
    width: 100%;
    height: 98.2Vh;
    margin-bottom: 100PX;
    overflow-Y: hidden;
}

.video-background {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -10;
    filter: contrast(70%);
}

.logo_1 {
    display: block;
    position: absolute;
    width: 170px;
    height: auto;
    left: 30px;
    top: 18px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 40px;
    top: 30px;
    width: 415px;
    height: 48px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.change-1 {
    font-size: 17PX;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.2s ease 0s;
}

.change-1:hover {
    color: #959595;
}

.mainTitle-wrap {
    width: 700px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -125px;
}

.header-text-1 {
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
}

.header-text-2 {
    position: relative;
    text-align: center;
    line-height: 80px;
    width: 700px;
    height: 80px;
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}

.header-text-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    letter-spacing: 23px;
    text-indent: 23px;
    font-family: 'Times New Roman', Times, serif;
    color: #eaeff0;
}

.clip-path {
    display: inline-block;
    width: 74px;
    height: 2px;
    background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 47%, hsla(0, 0%, 100%, 0));
}

.header-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 38px;
    border-radius: 20px;
    margin-top: 50PX;
    background-color: #ffffff;
}

.chage-2 {
    color: #262626;
    transition: all 0.5s ease 0s;
}

.chage-2:hover {
    color: #40a9ff;
}

.header-cycle {
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
}

.arrow {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -15.25px;
    margin-top: -12px;
    height: 30px;
    animation: arrowMove 1.3s infinite;
}

@keyframes arrowMove {
    0% {
        transform: translateY(-5PX);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5PX);
    }
}

.xuxian {
    position: absolute;
    height: 25px;
    left: 50%;
    border-left: 1px dashed #fff;
    bottom: 0px;
}

/* header部署完毕 */

.page1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 720px;
    /* background-color: pink; */
}

.animate-fadenum {
    opacity: 0;
}

.fadenum {
    animation: fadenum 2s;
}

@keyframes fadenum {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page1-middle {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 640px;
    padding-top: 40px;
    background-color: #ffffff;
}

.page1-middle-left {
    position: relative;
    width: 680px;
    height: 400px;
    padding: 30px 70px;
    background-color: #f2f2f2;
    letter-spacing: -1px;
    border-radius: 30px;
}

h1 {
    font-size: 35px;
    font-weight: 400;
}

.page1-middle-left-text {
    font-size: 20PX;
    line-height: 40PX;
    margin-top: 20PX;
    color: #000;
    font-family: "STKaiti";
}

.page1-middle-left-photo {
    position: absolute;
    width: 500px;
    height: 230px;
    top: 375px;
    left: 88px;
}

.page1-middle-left-photo-text {
    position: relative;
    height: 40PX;
    padding: 3PX 6PX;
    font-size: 20PX;
    line-height: 34PX;
    text-align: center;
    background-color: #f2f2f2;
    color: #000;
    border-radius: 10PX;
    display: inline-block;
}

.page1-middle-left-photo-text-position1 {
    position: absolute;
    top: 550px;
    left: 305px;
}

.page1-middle-left-photo-text-position2 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position3 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position4 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position5 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position6 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position7 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position8 {
    position: absolute;
    top: 550px;
    left: 300px;
}

.page1-middle-left-photo-text-position-anime {
    animation: page1-middle-left-photo-text-anime 2s 0s infinite;
}

@keyframes page1-middle-left-photo-text-anime {
    0% {
        transform: translateY(-3PX);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3PX);
    }
}

.page1-middle-right {
    position: relative;
    width: 650px;
    height: 600px;
    background-color: #f2f2f2;
    border-radius: 30px;
    overflow: hidden;
}

.page1-middle-right-text {
    font-size: 21PX;
    letter-spacing: 1PX;
    line-height: 40PX;
    margin-top: 50PX;
    margin-left: 40PX;
    color: #000;
    font-family: "STKaiti";
}

.page1-middle-right-photoBox {
    position: absolute;
    bottom: -350px;
    right: -510px;
    width: 510px;
    height: 350px;
    background-color: #535353;
    border-top-left-radius: 40px;
    overflow: hidden;
}

.page1-middle-right-photoBox::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 480px;
    height: 320px;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity .3s;
}

.page1-middle-right-photoBox:hover::after {
    opacity: 1;
}

.page1-middle-right-photo {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 480px;
    height: 320px;
    border-top-left-radius: 30px;
}

.page1-middle-right-photoBox-eyes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 480px;
    height: 320px;
    opacity: 0;
    transition: opacity .3s;
}

.page1-middle-right-photoBox-eyes img {
    width: 20px;
}

.page1-middle-right-photoBox:hover .page1-middle-right-photoBox-eyes {
    opacity: 1;
}

/* page1 部署完毕 */

.page2 {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 720px;
    /* background-color: pink; */
}

.page2 h1 {
    position: absolute;
    top: 60px;
    right: 220px;
    font-size: 2em;
    font-weight: 400;
}

.page2-main-box {
    position: relative;
    top: 50%;
    margin-top: -225px;
    width: 1100px;
    height: 450px;
    /* background-color: aliceblue; */
    overflow: hidden;
}

.page2-main-box ul {
    position: absolute;
    width: 5500px;
    height: 450px;
    /* background-color: pink; */
}

.page2-main-box ul li {
    float: left;
}

.lunbo {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1100px;
    height: 450px;
    /* background-color: antiquewhite; */
}

.page2-main-left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 450px;
    margin-right: 100px;
    /* background-color: #535353; */
}

.page2-main-left-box img {
    width: 100%;
}

.page2-main-right-top-box {
    display: flex;
    align-items: center;
    width: 500px;
    height: 85px;
    /* background-color: #959595; */
    margin: 50px 0 40px;
    font-size: 55px;
}

.page2-main-right-bottom-box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 274px;
    font-size: 30px;
    /* background-color: #959595; */
}

.page2 ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 180px;
    height: 30px;
    /* background-color: #40a9ff; */
}

.page2 ol li {
    float: left;
    width: 30px;
    height: 10px;
    background-color: #505050;
    border-radius: 20px;
    transition: all .5s;
    opacity: .3;
}

.liChange {
    animation: liChange .5s forwards;
}

@keyframes liChange {
    0% {
        width: 30px;
    }

    100% {
        width: 40px;
        opacity: 1;
    }
}

.page2 ol li:hover {
    opacity: .5;
}

/* page2部署完毕 */

.page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 630px;
    /* background-color: grey; */
}

#page3 {
    position: absolute;
    top: 0;
}

.page3-main-box {
    position: relative;
    width: 1350px;
    height: 460px;
    /* background-color: pink; */
}

.page3-main-box-left {
    position: relative;
    left: 0;
    top: 0;
    width: 400px;
    height: 460px;
    margin-right: 70px;
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    background: linear-gradient(270deg, #c9dae7, #ebeff9);
    /* animation: leftMove 1s forwards; */
    opacity: 0;
}

@keyframes leftMove {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.page3-mainBox-left-text1 {
    font-size: 30px;
    font-weight: 500;
}

.page3-mainBox-left-text2 {
    font-size: 23PX;
    font-weight: 550;
    color: #6593a8;
    margin-top: -5px;
}

.page3-mainBox-left-text3 {
    margin-top: 20px;
    font-size: 17PX;
}

.page3-main-box-left img {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    margin-top: -25PX;
}

.page3-main-box-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 880px;
    height: 460px;
}

.page3-main-box-right-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40PX;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 220px;
    border-radius: 30px;
    background-color: #f2f2f2;
    /* animation: topMove 1s forwards; */
    opacity: 0;
}

.page3-main-box-right-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20PX;
    position: absolute;
    top: 0;
    right: 0;
    width: 540px;
    height: 220px;
    border-radius: 30px;
    background-color: #f2f2f2;
    /* animation: topMove 1s forwards; */
    opacity: 0;
}

@keyframes topMove {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.page3-main-box-right-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 880px;
    height: 200px;
    padding: 15px 38px;
    border-radius: 30px;
    background: linear-gradient(90deg, #f1f2d0, #b1d8b4);
    /* animation: rightMove 1s forwards; */
    opacity: 0;
}

@keyframes rightMove {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.page3-main-box-right-bottom span {
    width: 800px;
    height: 170px;
}

.page3-main-box-right-bottom span img {
    height: 160px;
    margin-right: 40px;
}

.page3-mainBox-right-bottom-right {
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 170px;
    /* background-color: pink; */
}

.page3-mainBox-right-bottom-right-text1 {
    font-size: 30PX;
    font-weight: 600;
}

.page3-mainBox-right-bottom-right-text2 {
    font-size: 23PX;
    font-weight: 550;
    color: #6a9b71;
    margin-top: -5PX;
}

.page3-mainBox-right-bottom-right-text3 {
    margin-top: 15px;
    font-size: 17PX;
}

/* page3部署完毕 */

.page4 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 720px;
    /* background-color: pink; */
}

.page4-mainBox {
    width: 1400px;
    height: 720px;
    /* background-color: #535353; */
}

.page4-mainBox-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 50px;
    margin: 50px 0;
    font-size: 30px;
}

.page4-mainBox-bottom {
    position: relative;
    width: 1400px;
    height: 510px;
    /* background-color: #40a9ff; */
}

.page4-mainBox-bottom-left {
    position: absolute;
    width: 600px;
    height: 510px;
    margin-right: 100px;
    /* background-color: #6a9b71; */
}

.page4-mainBox-bottom-left-h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

.page4-mainBox-bottom-left video {
    width: 600PX;
    height: 338PX;
    border-radius: 10PX;
    overflow: hidden;
    border: 1px solid gray;
}

.page4-mainBox-bottom-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 510px;
    /* background-color: #959595; */
    overflow: hidden;
}

.page4-mainBox-bottom-right .member1 {
    position: absolute;
    font-size: 14px;
    opacity: 0.5;
    /* animation: toRight 12s linear infinite; */
}

.member2 {
    position: absolute;
    font-size: 14px;
    opacity: 0.8;
    /* animation: toRight 8s linear infinite; */
}

@keyframes toRight {
    0% {
        transform: translateX(-130px);
    }

    50% {
        transform: translateX(705px);
    }

    100% {
        transform: translateX(-130px);
    }
}

.member3 {
    position: absolute;
    top: 20px;
    font-size: 14px;
    opacity: 0.8;
    /* animation: toLeft 15s linear infinite; */
}

.member4 {
    position: absolute;
    top: 20px;
    font-size: 14px;
    opacity: 0.4;
    /* animation: toLeft 20s linear infinite; */
}

@keyframes toLeft {
    0% {
        transform: translateX(705px);
    }

    50% {
        transform: translateX(-130px);
    }

    100% {
        transform: translateX(705px);
    }
}

/* page4部署完毕 */

.page5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 720px;
    /* background-color: pink; */
}

.page5-mainBox {
    position: relative;
    width: 1050px;
    height: 610px;
    margin-top: 70px;
    margin-bottom: 40px;
    /* background-color: #40a9ff; */
}

.page5-mainBox a {
    color: #000;
}

.page5-mainBox-h1 {
    position: absolute;
    top: -55px;
    left: -120px;
    font-size: 30PX;
}

.page5-mainBox-text1 {
    text-align: center;
    font-size: 25px;
    margin: 5px 0px;
}

.page5-mainBox-text2 {
    text-align: center;
    font-size: 20px;
}

.page5-mainBox-top {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    height: 250px;
    padding: 0px 100px;
    /* background-color: pink; */
}

.page5-mainBox-top-one {
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
    height: 250px;
    /* background-color: #535353; */
}

.page5-mainBox-top-one span {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 140px;
}

.page5-mainBox-top-one span img {
    width: 140px;
    height: 140px;
}

.page5-mainBox-arrow {
    display: flex;
    align-items: center;
    height: 250px;
}

.page5-mainBox-arrow img {
    width: 30px;
}

.page5-mainBox-middle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page5-mainBox-middle img {
    height: 150px;
}

.page5-mainBox-bottom {
    text-align: center;
    width: 1050px;
    height: 120px;
    padding: 35px 0px;
    font-size: 40px;
    color: black;
    font-weight: 600;
    letter-spacing: 20PX;
    /* background-color: #6a9b71; */
}

.page5-mainBox-box {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    height: 40px;
    padding: 0px 300px;
    /* background-color: pink; */
}

.page5-mainBox-inlinebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    font-size: 20px;
    background-color: #d6edee;
    border-radius: 10PX;
}

/* page5 部署完毕 */

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
    background-color: #f2f2f2;
    ;
}

.footer-mainBox {
    width: 1400px;
    height: 190px;
}

.footer-mainBox a {
    color: #000;
}

.footer-mainBox-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    margin: 20PX 0 10PX;
    /* background-color: pink; */
}

.footer-mainBox-top img {
    height: 77px;
}

.footer-mainBox-top-lineBox-left {
    width: 60px;
    height: 80px;
    border-left: 1px solid #757575;
    margin: 0 80px;
}

.footer-mainBox-top-leftBox {
    width: 100px;
    height: 80px;
    font-size: 13px;
    line-height: 20px;
    margin-right: 125px;
}

.footer-mainBox-top-leftBox span {
    font-size: 20px;
}

.footer-mainBox-top-middleBox {
    width: 120px;
    height: 80px;
    font-size: 13px;
    line-height: 20px;
    margin-right: 125px;
}

.footer-mainBox-top-middleBox span {
    font-size: 20px;
}

.footer-mainBox-top-rightBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 110px;
    font-size: 27px;
    line-height: 45px;
}

.footer-mainBox-top-lineBox-right {
    width: 60px;
    height: 80px;
    border-right: 1px solid #757575;
    margin-left: 50px;
    margin-right: 80px;
}

.footer-mainBox-top-img img {
    display: block;
    margin-top: 20px;
    height: 80px;
}

.footer-mainBox-top-img div {
    width: 80px;
    text-align: center;
    font-size: 14px;
}